@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica';
}

.wrapper {
  border: 3px solid #010124;
  width: 800px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url('/docs/background.png');
  overflow: hidden;
}

.yodaImg {
  content: '';
  display: block;
  background-image: url('/docs/yodafavicon.png');
  position: absolute;
  width: 12%;
  height: 88px;
  z-index: 2;
  bottom: 8px;
  left: 15px;
  background-size: contain;
}

.score {
  position: absolute;
  bottom: 29px;
  left: 13%;
  font-size: 22px;
  font-weight: 900;
  text-shadow: 2px 2px 3px rgba(2, 2, 2, 0.2);
  background-color: rgba(255,255,255,0.3);
  padding: 10px 15px;
  border-radius: 5px;
  font-family: 'Orbitron', sans-serif;
}

.highScore {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 22px;
  font-weight: 900;
  text-shadow: 2px 2px 3px rgba(2, 2, 2, 0.2);
  background-color: rgba(255,255,255,0.3);
  padding: 10px 15px;
  border-radius: 5px;
  font-family: 'Orbitron', sans-serif;
}

.countdown {
  position: absolute;
  top: 50%;
  font-size: 20px;
  text-align: center;
  color: #010124;
  background-color:rgba(255,255,255,0.3);
  padding: 10px 15px;
  border-radius: 5px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Orbitron', sans-serif;
}

button {
  position: absolute;
  bottom: 28px;
  left: 79%;
  background: #010124;
  color: white;
  padding: 18px 25px;
  border-radius: 5px;
  z-index: 200;
  cursor: pointer;
  border: none;
  outline: none;
  font-family: 'Orbitron', sans-serif;
  font-size: medium;
}

.game {
  width: 600px;
  height: 400px;
  margin: 70px auto;
  z-index: 200;
  display: flex;
  flex-wrap: wrap;
}

.hole {
  flex: 1 0 33.33%;
  position: relative;
  overflow: hidden;
}

.hole:after {
  content: '';
  display: block;
  background-image: url('/docs/sand1.png');
  position: absolute;
  width: 100%;
  height: 70px;
  z-index: 2;
  bottom: -30px;
  background-size: contain;
}

.mole {
  background-image: url('/docs/yoda1.png');
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition: 0.4s;
  background-repeat: no-repeat;
  background-position: bottom;
}

.mole.small {
  background-size: 60%;
}

.mole.large {
  background-size: 80%;
}

.hole.up .mole {
  top: 0;
}


