* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica';
}

.wrapper {
  border: 3px solid #010124;
  width: 800px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url('/docs/background.png');
  overflow: hidden;
}

.yodaImg {
  content: '';
  display: block;
  background-image: url('/docs/yodafavicon.png');
  position: absolute;
  width: 12%;
  height: 88px;
  z-index: 2;
  bottom: -5px;
  background-size: contain;

}

.score {
  /* font-size: 150px;
  color: #010124;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: 1px solid black; */
  /* width: 200px;
  height: 100px;
  text-align: center;  */
  position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */

  bottom: 17px;
  left: 60%;

  font-size: 22px;
  font-weight: 900;
  text-shadow: 2px 2px 3px rgba(2, 2, 2, 0.2);
  background-color: rgba(255,255,255,0.3);
  padding: 10px 15px;
  border-radius: 5px;
}

.highScore {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 22px;
  font-weight: 900;
  text-shadow: 2px 2px 3px rgba(2, 2, 2, 0.2);
  background-color: rgba(255,255,255,0.3);
  padding: 10px 15px;
  border-radius: 5px;
}

.countdown {
  position: absolute;
  top: 50%;
  width: 100%;
  font-size: 20px;
  text-align: center;
  color: #010124;

  

  /* animation: blink 1s steps(4, start) infinite; */
}

button {
  position: absolute;
  bottom: 10px;
  left: 40%;
  transform: translate(-50%, 0);
  background: #010124;
  color: white;
  padding: 20px 50px;
  border-radius: 5px;
  z-index: 200;
  cursor: pointer;
  border: none;
  outline: none;
}

.game {
  /* border: 2px solid black; */
  width: 600px;
  height: 400px;
  margin: 70px auto;
  z-index: 200;
  display: flex;
  flex-wrap: wrap;
}

.hole {
  /* border: 3px solid red; */
  /* shorthand for flexgrow, flexshrink and flexbasis */
  flex: 1 0 33.33%;
  position: relative;
  overflow: hidden;
}

.hole:after {
  content: '';
  display: block;
  background-image: url('/docs/sand1.png');
  /* background: black; */
  position: absolute;
  width: 100%;
  height: 70px;
  z-index: 2;
  bottom: -30px;
  background-size: contain;

}



.mole {
  background-image: url('/docs/yoda1.png');
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition: 0.4s;
  background-repeat: no-repeat;
  background-position: bottom;
}

.mole.small {
  background-size: 60%;

}

.mole.large {
  background-size: 80%;
}

.hole.up .mole {
  top: 0;
}


@keyframes blink {
  to {
    visibility: hidden
  }
}